/* Button Container */
.button-container {
    margin-top: 20px;
    display: flex; /* Use flexbox to arrange buttons */
    flex-wrap: wrap; /* Allow buttons to wrap on small screens */
    justify-content: center; /* Center the buttons */
}
.primButton,
.secButton,
.ThirdButton {
    padding: 15px 30px; /* Increased padding */
    color: #ffffff;
    width: 100%; /* Set to full width */
    max-width: 400px; /* Increase max-width for larger buttons */
    font-size: 18px; /* Larger font size */
    font-weight: 700;
    margin: 5px;
    transition: all 0.5s ease-in-out;
}
.primButton {
    background-color: #5599F8;
    border: 2px solid #5599F8;
}
.secButton {
    background-color: transparent;
    border: 2px solid #ffffff;
}
.primButton:hover {
    background-color: #ffffff;
    border: 2px solid #5599F8;
    color: #5599F8;
}
.secButton:hover {
    background-color: #ffffff;
    border: 2px solid #5599F8;
    color: #5599F8;
}
.ThirdButton {
    color: #5599F8;
    background-color: #ffffff;
    border: 2px solid #5599F8;
}
.ThirdButton:hover {
    color: #ffffff;
    background-color: #5599F8;
}
/* Media Query for Smaller Screens */
@media (max-width: 600px) {
    .primButton,
    .secButton,
    .ThirdButton {
        font-size: 14px; /* Slightly smaller font size */
        padding: 8px 16px; /* Adjust padding */
    }
}