.button-container{
    margin-top: 20px;
}
.primButton,
.secButton {
    padding: 20px 40px;
    color: #ffffff;
    width: 330px;
    font-size: 18px;
    font-weight: 700;
    margin: 5px;
    transition: all 0.5s ease-in-out;
}
.primButton {
    background-color: #5599F8;
    border: 1px solid #5599F8;
}
.secButton {
 background-color: transparent;
 border: 1px solid #ffffff;
}
.primButton:hover {
    background-color: #ffffff;
    border: 1px solid #5599F8;
    color: #000000;
}