#cta .container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(circle, #aaaaaad9 1px, transparent 1px);
    background-size: 20px 20px; /* Adjust the size of the dots */
    padding: 20px; /* Adjust the padding to your preference */
}


