#hero {
  background-image: url("../images/hero.png"); /* Adjust path as needed */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero .content {
  color: white; /* Adjust text color to contrast with the background */
  text-align: center;
  padding: 20px;
}
#hero .h1 {
    font-size: 30px;
}
