#hero {
  background-image: url("../images/hero.png"); /* Adjust path as needed */
  background-size: cover;
  background-position: center 90px; /* Moves the background image down by 50 pixels */
  background-repeat: no-repeat;
  height: 100vh; /* Full viewport height */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#hero .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white; /* Adjust text color to contrast with the background */
  text-align: left;
  padding: 20px;
  margin-left: 50px;
  margin-top: 100px;
  width: 34%;
}

#hero h1 {
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
}

#hero p {
  margin-top: 10px;
  font-size: 23px;
  font-family: "Mulish", sans-serif;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  #hero .content {
    width: 50%;
    margin-left: 20px;
  }
  
  #hero h1 {
    font-size: 50px;
  }
  
  #hero p {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  #hero {
    justify-content: center;
    background-position: center 50px; /* Adjusts background positioning for smaller screens */
  }

  #hero .content {
    width: 80%;
    margin-left: 0;
    margin-top: 50px;
    text-align: center; /* Center the content on smaller screens */
  }

  #hero h1 {
    font-size: 40px;
  }

  #hero p {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  #hero {
    background-position: center top; /* Further adjust background position */
  }

  #hero h1 {
    font-size: 32px;
  }

  #hero p {
    font-size: 16px;
  }

  #hero .content {
    margin-top: 20px;
  }
}
