#hero {
    background-image: url("../images/hero.png"); /* Adjust path as needed */
    background-size: cover;
    background-position: center 90px; /* Moves the background image down by 50 pixels */
    background-repeat: no-repeat;
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
#hero .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white; /* Adjust text color to contrast with the background */
  text-align: left;
  padding: 20px;
  width: 40%;
}
#hero h1 {
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
}
