#servicePage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f8f9fa;
}
.hero-con {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.hero-con h1 {
    color: #ffffff;
}
.servicesHeader {
  margin-top: 50px;
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
p {
  max-width: 800px;
  margin: 20px auto;
  font-size: 1.25rem;
  line-height: 1.6;
  color: #333;
  font-family: "Arial", sans-serif;
}
#servicePage .card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 90%;
}
#servicePage .card-container .content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 80%;
}
#servicePage .card-container .content h1 {
  color: #444444;
  font-size: 36px;
}
#servicePage .card-container .content p {
  color: #444444;
  font-size: 18px;
}
