#services .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#services h1 {
    color: #212226;
    font-size: 33px;
    font-family: sans-serif;
    margin-top: 100px;
    font-weight: 800;
}
#services .images-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 30px;
    width: 80%;
}
#services .image-box img {
    width: 300px;
    height: 300px;
}